@charset "UTF-8";
// reset
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a,img,span,thead,tbody,tfoot{margin:0;padding:0;}
html{font-size:40px;}
body{font-family:Tahoma, Arial, Helvetica, STHeiti;}
html{overflow-y:scroll}
fieldset,img{border:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
address,caption,cite,code,dfn,em,i,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none outside;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
input,textarea,select,button{font-family:'Microsoft Yahei';font-size:inherit;*font-size:100%;font-weight:inherit;resize:none;}
button{cursor:pointer;}
:focus{outline:0;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
img{max-width:100%}

